* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e9ebee;
  color: #1d2129;
}

.MyForm {
  border: 1px solid hsl(216, 8%, 88%);
	border-radius: 4px;
	width: 50%!important;
	margin: 20px auto;
	background-color: #ffffff;
}

.MyForm__Title{
	margin-top: 4px !important;
	margin-left: 0px !important;
	padding-left: 0px !important;
	font-weight: bolder;
}

.MyForm__Option{
	margin-left: 4px!important;
}

.MyForm__Input{
	width: 15rem;
	margin: 6px !important;
}

.MyForm__Btn{
	width: 8rem;
	margin-top: 6px!important;
	margin-bottom: 6px!important;
	margin-left: 0px!important;
	padding: 0px !important;
}

